@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/bg-intro-desktop.png);
  background-color: var(--Red);
  font-family: "Poppins", sans-serif;
}

.attribution {
  margin-top: 10em;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media screen and (max-width: 800px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.wrapper .content {
  width: 65%;
  position: relative;
  left: 18%;
  color: white;
}
@media screen and (max-width: 800px) {
  .wrapper .content {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-left: 1.5em;
  }
}
.wrapper .content .header-title {
  margin-bottom: 0.5em;
  width: 100%;
  max-width: 60%;
  font-size: 2.8em;
  line-height: 1.1em;
}
@media screen and (max-width: 800px) {
  .wrapper .content .header-title {
    margin-top: 6em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
  }
}
.wrapper .content .header-sub-title {
  width: 100%;
  max-width: 60%;
  font-size: 0.9em;
  line-height: 1.8em;
}
@media screen and (max-width: 800px) {
  .wrapper .content .header-sub-title {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 3em;
  }
}
.wrapper .container {
  width: 45%;
  margin: 0 10em 0 0;
  z-index: 1;
}
@media screen and (max-width: 800px) {
  .wrapper .container {
    margin: 0;
  }
}
.wrapper .container .form-heading {
  width: 100%;
  cursor: default;
}
.wrapper .container .form-heading h1 {
  padding: 1em;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 0.5em;
  color: white;
  background-color: var(--Blue);
  transition: 0.3s;
  box-shadow: 0 0.5em 0 0 #dc6567;
}
.wrapper .container .form-heading h1 span {
  font-size: 0.9em;
  color: rgba(245, 240, 255, 0.842);
  font-weight: 400;
}
.wrapper .container .form-unit {
  margin-top: 1.5em;
  padding: 2em 2em 3em 2em;
  background: white;
  border-radius: 0.5em;
  box-shadow: 0 0.5em 0 0 #dc6567;
}
.wrapper .container .form-unit .form-control {
  padding-bottom: 1em;
}
.wrapper .container .form-unit .form-control input {
  width: 100%;
  padding: 1.2em;
  border-radius: 0.5em;
  border: 1px solid var(--Grayish-Blue);
  cursor: pointer;
}
.wrapper .container .terms {
  color: var(--Grayish-Blue);
  font-size: 0.6em;
  text-align: center;
  margin-bottom: -1em;
}
.wrapper .container .terms a {
  color: var(--Red);
  text-decoration: none;
  font-weight: 600;
}

.buttons {
  width: 100%;
}
.buttons .btn-secondary {
  width: 100%;
  padding: 1.5em;
  text-align: center;
  border: none;
  border-radius: 0.5em;
  color: white;
  background-color: #39da91;
  margin-bottom: 1em;
  transition: 0.3s;
  cursor: pointer;
  border: 0.1em solid rgba(24, 116, 74, 0.336);
  border-bottom: 0.3em solid rgba(24, 116, 74, 0.336);
}
.buttons .btn-secondary:hover {
  background-color: rgba(56, 204, 140, 0.589);
  border: 0.1em solid rgba(17, 87, 55, 0.24);
  border-bottom: 0.3em solid rgba(24, 116, 74, 0.336);
}

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%) ;
  --Grayish-Blue: hsl(246, 25%, 77%);
}

/*# sourceMappingURL=styles.css.map */
