.buttons {
    width: 100%;

    .btn-primary {
        width: 100%;
        padding: 1.5em;
        text-align: center;
        border: none;
        border-radius: .5em;
        color: white;
        background-color: var(--Blue);
    }

    .btn-secondary {
        width: 100%;
        padding: 1.5em;
        text-align: center;
        border: none;
        border-radius: .5em;
        color: white;
        background-color: var(--Green);
        margin-bottom: 1em;
        transition: .3s;

        &:hover {
            background-color: hsla(154, 59%, 51%, 0.589);
            border-bottom: .3em solid var(--Green);
        }
    }
}